@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');


@layer base{
    .text-stroke{
      color: transparent;
      text-shadow: none;
      -webkit-text-stroke: 1px #2563EB;
    }

    .card{
        box-shadow: 0 20px 40px rgba(0,0,0,.1)
    }
    .card.todolux:hover{
        background: linear-gradient(49.37deg,#fff 3.41%,rgba(254,215,0) 487.91%);
    }
    .card.hng:hover{
        background: linear-gradient(49.37deg,#fff 3.41%,rgba(250,159,166) 487.91%);
    }
    .card.todolist:hover{
        background: linear-gradient(49.37deg,#fff 3.41%,rgba(59,130,246) 487.91%);
    }
    .card.zuri:hover{
        background: linear-gradient(49.37deg,#fff 3.41%,rgba(232,51,43) 487.91%);
    }
    .card.regform:hover{
        background: linear-gradient(49.37deg,#fff 3.41%,rgba(250,122,122) 487.91%);
    }
    .card.hngwebsite:hover{
        background: linear-gradient(49.37deg,#fff 3.41%,rgba(17,17,17) 487.91%);
    }
    .card.calculator:hover{
        background: linear-gradient(49.37deg,#fff 3.41%,rgba(128,0,127) 487.91%);
    }
}
